<div class="page-home">
  <div class="page-home__bg">
    <div class="container">
      <div class="page-home-bg">
        <img src="/f/media/ui/shop.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
  <div class="page-home__intro">
    <div class="container">
      <div class="intro">
        <div class="intro__label">Кейс</div>
        <div class="intro__name">Сервис поддержки принятия решений «Легкий старт»</div>
        <div class="intro__logo">
          <img src="/f/media/ui/logo_dit.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="page-home__menu">
    <div class="container">
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item__caption">Ищите помещение<br />для бизнеса?</div>
          <div class="menu-item__desc">Покажем где акая конкуренция<br />и подберем оптимальные варианты</div>
          <div class="menu-item__action">
            <a routerLink="/" class="menu-item__link">Поиск места</a>
          </div>
        </div>
        <div class="menu-item">
          <div class="menu-item">
            <div class="menu-item__caption">Уже есть<br />помещение?</div>
            <div class="menu-item__desc">Покажем где какая конкуренция<br />и подберем оптимальные варианты</div>
            <div class="menu-item__action">
              <a routerLink="/analysis" class="menu-item__link">Анализ места</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div *ngIf="mapPinItems">
  &lt;!&ndash;<app-yandex-maps [pinDataList]="mapPinItems"></app-yandex-maps>&ndash;&gt;
  &lt;!&ndash;<app-yandex-heat-map [pinDataList]="mapPinItems"></app-yandex-heat-map>&ndash;&gt;

  <a routerLink="" (click)="onItemClick($event, 123)">popup</a>
</div>-->
