.footer-wrp {

  // background-color: var(--color-grey_20);
}

.footer {
  padding: 3rem 0;

  p {
    margin: 0 auto;
    max-width: 60ch;
    font-size: 1.3rem;
    line-height: 130%;
    color: #838383;
  }
}
