<header class="header">
  <div class="container">
    <div class="header-wrp">
      <a routerLink="/" class="header-logo">
        <p>Команда</p>
        <b>KeyIdea</b>
      </a>
      <!--<nav *ngIf="menu" class="header-nav">
        <ul class="header-nav__list">
          <li *ngFor="let item of menu" class="header-nav__item">
            <a
              [routerLink]="item.path"
              [routerLinkActiveOptions]="{exact: true}"
              routerLinkActive="header-nav__link_active"
              class="header-nav__link"
              [innerHTML]="item.text"></a>
          </li>
        </ul>
      </nav>-->
    </div>
  </div>
</header>
